<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fat Cat Pizza</title>
    <link href="./stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="./stylesheets/admin.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="./stylesheets/bootstrap-multiselect.css" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="./javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="./javascripts/bootstrap-multiselect.js"></script>
    <script src="./javascripts/jquery-2.1.3.min.js"></script>
    <script type="text/javascript">
        //First Loads data into notifications
        console.log("loading variables");
        var notifications = <%- JSON.stringify(notifications) %>;
        var table_information = <%- JSON.stringify(tables) %>;
        var past_notifications = <%- JSON.stringify(pastNotifications) %>;
        var ingredients = <%- JSON.stringify(ingredients) %>;
        var currentuser = <%- JSON.stringify(userInformation) %>;
    </script>
    <script type="text/javascript" src="./javascripts/adminJavaScripts.js"></script>
</head>
<body onload="update()">
<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Admin View</a>
        </div>
        <div id="navOptions" class="navbar-collapse collapse">
        </div><!--/.nav-collapse -->
    </div>
</div>

<!-- Table Notifications -->
<div id="notificationRows" class="container">
</div>

<!-- Fixed footer -->
<div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
    <div class="container">
        <div class="navbar-text pull-left">
            <p id="table"><a href="/" data-toggle="modal"><%= userInformation.firstname %> <%= userInformation.lastname %></a>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<div class="modal fade" id="RemoveCustomerModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" role="form">
                <div class="modal-header">
                    <div class="navbar navbar-default navbar-fixed-top">
                        <a class="navbar-brand" href="#">Remove Customer</a>
                    </div>
                </div>
                <div class="modal-body">
                    <h4>Are you sure?</h4>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" data-dismiss="modal" data-toggle="modal" onclick="removeCustomer()">Remove</a>
                    <a class="btn btn-default" data-dismiss="modal" onclick="cancel()">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="EditDrinkModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" role="form">
                <div class="modal-header">
                    <div class="navbar navbar-default navbar-fixed-top">
                        <a class="navbar-brand" href="#">Edit Drink</a>
                    </div>
                </div>
                <div class="modal-body">
                    <script type="text/javascript">
                        $(document).ready(function() {
                            $('#editDrinkSelection').multiselect();
                        });
                    </script>
                    <ul class="row list-unstyled">
                        <li class="col-lg-6 col-md-6 col-sm-6">
                            Drink
                        </li>
                    </ul>
                    <ul class="row list-unstyled">
                        <li class="col-lg-6 col-md-6 col-sm-6">
                            <select id="editDrinkSelection">
                            </select>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" data-dismiss="modal" data-toggle="modal" onclick="editDrink()">Edit Drink</a>
                    <a href="#CompModalDrink" class="btn btn-default" data-toggle="modal" data-dismiss="modal">Comp</a>
                    <a href="#RemoveCustomerModal" class="btn btn-default" data-toggle="modal" data-dismiss="modal">Remove</a>
                    <a class="btn btn-default" data-dismiss="modal" onclick="cancel()">Close</a>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="RemovePizzaModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" role="form">
                <div class="modal-header">
                    <div class="navbar navbar-default navbar-fixed-top">
                        <a class="navbar-brand" href="#">Remove Pizza</a>
                    </div>
                </div>
                <div class="modal-body">
                    <h4>Are you sure?</h4>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" data-dismiss="modal" data-toggle="modal" onclick="removePizza()">Remove</a>
                    <a class="btn btn-default" data-dismiss="modal" onclick="cancel()">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="ClearTableModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" role="form">
                <div class="modal-header">
                    <div class="navbar navbar-default navbar-fixed-top">
                        <a class="navbar-brand" href="#">Clear Table</a>
                    </div>
                </div>
                <div class="modal-body">
                    <h4>Are you sure?</h4>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" data-dismiss="modal" data-toggle="modal" onclick="removeTable()">Clear</a>
                    <a class="btn btn-default" data-dismiss="modal" onclick="cancel()">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="EditPizzaModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" role="form">
                <div class="modal-header">
                    <div class="navbar navbar-default navbar-fixed-top">
                        <a class="navbar-brand" href="#">Change Pizza</a>
                    </div>
                </div>
                <div class="modal-body">
                    <script type="text/javascript">
                        $(document).ready(function() {
                            $('#crust').multiselect();
                            $('#sauce').multiselect();
                            $('#toppings').multiselect();
                        });
                    </script>
                    <ul class="row list-unstyled">
                        <li class="col-lg-4 col-md-4 col-sm-4">
                            Crust Style
                        </li>
                        <li class="col-lg-4 col-md-4 col-sm-4">
                            Sauce
                        </li>
                        <li class="col-lg-4 col-md-4 col-sm-4">
                            Toppings
                        </li>
                    </ul>
                    <ul class="row list-unstyled">
                        <li class="col-lg-4 col-md-4 col-sm-4">
                            <select class="unstyled" id="editCrust">
                            </select>
                        </li>
                        <li class="col-lg-4 col-md-4 col-sm-4">
                            <select id="editSauce">
                            </select>
                        </li>
                        <li class="col-lg-4 col-md-4 col-sm-4">
                            <select id="editToppings" multiple="multiple">
                            </select>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" data-dismiss="modal" data-toggle="modal" onclick="editPizza()">Edit Pizza</a>
                    <a href="#CompModalPizza" class="btn btn-default" data-toggle="modal" data-dismiss="modal">Comp</a>
                    <a href="#RemovePizzaModal" class="btn btn-default" data-toggle="modal" data-dismiss="modal">Remove</a>
                    <a class="btn btn-default" data-dismiss="modal" onclick="cancel()">Close</a>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Pizza builder, Allows users to choose 1 sauce, 1 bread type, and as many toppings as they want
     along with the ability to provide special instructions   -->
<div class="modal fade" id="AddPizzaModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" role="form">
                <div class="modal-header">
                    <div class="navbar navbar-default navbar-fixed-top">
                        <a class="navbar-brand" href="#">Pizza Builder - Create a Pizza</a>
                    </div>
                </div>
                <div class="modal-body">
                    <script type="text/javascript">
                        $(document).ready(function() {
                            $('#crust').multiselect();
                            $('#sauce').multiselect();
                            $('#toppings').multiselect();
                        });
                    </script>
                    <ul class="row list-unstyled">
                        <li class="col-lg-4 col-md-4 col-sm-4">
                            Crust Style
                        </li>
                        <li class="col-lg-4 col-md-4 col-sm-4">
                            Sauce
                        </li>
                        <li class="col-lg-4 col-md-4 col-sm-4">
                            Toppings
                        </li>
                    </ul>
                    <ul class="row list-unstyled">
                        <li class="col-lg-4 col-md-4 col-sm-4">
                            <select class="unstyled" id="crust">
                            </select>
                        </li>
                        <li class="col-lg-4 col-md-4 col-sm-4">
                            <select id="sauce">
                            </select>
                        </li>
                        <li class="col-lg-4 col-md-4 col-sm-4">
                            <select id="toppings" multiple="multiple">
                            </select>
                        </li>
                    </ul>
                    <ul class="row list-unstyled">
                        <p></p>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="special-instructions" placeholder="Type Your Special Instructions Here!">
                        </div>
                    </ul>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" data-dismiss="modal" data-toggle="modal" onclick="addPizza()">Add Pizza</a>
                    <a class="btn btn-default" data-dismiss="modal" onclick="cancel()">Close</a>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="AddCoupon" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" role="form">
                <div class="modal-header">
                    <div class="navbar navbar-default navbar-fixed-top">
                        <a class="navbar-brand" href="#">Add Coupon</a>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="couponForm" placeholder="Enter Coupon Code!">
                        <p id="couponResponse"></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" onclick="addCoupon()">Add Coupon</a>
                    <a class="btn btn-default" data-dismiss="modal" onclick="cancel()">Close</a>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="CompModalDrink" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" role="form">
                <div class="modal-header">
                    <div class="navbar navbar-default navbar-fixed-top">
                        <a class="navbar-brand" href="#">Comp</a>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="adminUsernameDrink" placeholder="Admin Username">
                    </div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="adminPasswordDrink" placeholder="Admin Password">
                        <p id="compResponseDrink"></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" onclick="compDrink()">Comp</a>
                    <a class="btn btn-default" data-dismiss="modal" onclick="cancel()">Close</a>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="CompModalPizza" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" role="form">
                <div class="modal-header">
                    <div class="navbar navbar-default navbar-fixed-top">
                        <a class="navbar-brand" href="#">Comp</a>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="adminUsernamePizza" placeholder="Admin Username">
                    </div>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="adminPasswordPizza" placeholder="Admin Password">
                        <p id="compResponsePizza"></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" onclick="compPizza()">Comp</a>
                    <a class="btn btn-default" data-dismiss="modal" onclick="cancel()">Close</a>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="AddDrinkModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" role="form">
                <div class="modal-header">
                    <div class="navbar navbar-default navbar-fixed-top">
                        <a class="navbar-brand" href="#">Drink Selection</a>
                    </div>
                </div>
                <div class="modal-body">
                    <script type="text/javascript">
                        $(document).ready(function() {
                            $('#drink').multiselect();
                        });
                    </script>
                    <ul class="row list-unstyled">
                        <li class="col-lg-6 col-md-6 col-sm-6">
                            Guest Name
                        </li>
                        <li class="col-lg-6 col-md-6 col-sm-6">
                            Drink
                        </li>
                    </ul>
                    <ul class="row list-unstyled">
                        <li class="col-lg-6 col-md-6 col-sm-6">
                            <input type="text"  class="form-control" id="GuestName" placeholder="Type Guest Name"></li>
                        </li>
                        <li class="col-lg-6 col-md-6 col-sm-6">
                            <select id="drinkSelection">
                            </select>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" data-dismiss="modal" data-toggle="modal" onclick="addDrink()">Add Drink</a>
                    <a class="btn btn-default" data-dismiss="modal" onclick="cancel()">Close</a>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="AddTip" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" role="form">
                <div class="modal-header">
                    <div class="navbar navbar-default navbar-fixed-top">
                        <a class="navbar-brand" href="#">Enter Tip Amount</a>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <!-- Tip label and text-box -->
                        <label for="Card Number" class="col-sm-2 control-label">Tip</label>
                        <div class="col-sm-10">
                            <input type="number" step="0.01" required min="0" class="form-control" id="tipInput" placeholder="Type the amount or a percentage (i.e $4 or 10%)">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" data-dismiss="modal" data-toggle="modal" onclick="addTip()">Add Tip</a>
                    <a class="btn btn-default" data-dismiss="modal" onclick="cancel()">Close</a>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="PayBill" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" role="form">
                <div class="modal-header">
                    <div class="navbar navbar-default navbar-fixed-top">
                        <a class="navbar-brand" href="#">Pay the bill</a>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <!-- Card choice -->
                            <a href="#card" class="thumbnail" data-toggle="modal" data-dismiss="modal">
                                <img src="./images/credit-card.png" alt="breadsticks">
                            </a>
                            <p class="text-center">
                                Card
                            </p>
                        </div>
                        <div class="col-sm-4">
                            <!-- Cash choice -->
                            <a href="#cash" class="thumbnail" data-toggle="modal" data-dismiss="modal">
                                <img src="./images/cash.png" alt="cash">
                            </a>
                            <p class="text-center">
                                Cash
                            </p>
                        </div>
                        <div class="col-sm-4">
                            <!-- Split check choice -->
                            <a href="#split-check" class="thumbnail" data-toggle="modal" data-dismiss="modal">
                                <img src="./images/split-check.png" alt="split">
                            </a>
                            <p class="text-center">
                                Split the Check
                            </p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-default" data-dismiss="modal" onclick="cancel()">Close</a>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- The modal displayed when the user presses the "Cash" button -->
<div class="modal fade" id="cash" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" role="form">
                <div class="modal-header">
                    <div class="navbar navbar-default navbar-fixed-top">
                        <a class="navbar-brand" href="#">Paying with cash?</a>
                    </div>
                </div>
                <div class="modal-body">
                    <p>Part of our wait-staff will be with you shortly.</p>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-default" data-dismiss="modal" onclick="cancel()">Close</a>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal displayed when the user click the "Card" button -->
<div class="modal fade" id="card" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" role="form">
                <div class="modal-header">
                    <div class="navbar navbar-default navbar-fixed-top">
                        <a class="navbar-brand" href="#">Paying With Card</a>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <!-- Request card number from user (max-length 16 digits) -->
                        <label for="Card Number" class="col-sm-2 control-label">Card #</label>
                        <div class="col-sm-10">
                            <input type="number" maxlength="16" required class="form-control" id="card-number" placeholder="1111-2222-3333-4444">
                        </div>
                    </div>
                    <div class="form-group">
                        <!-- 3 digit SVC number needed -->
                        <label for="card-code" class="col-sm-2 control-label">SVC #</label>
                        <div class="col-sm-10">
                            <input type="password" maxlength="3" required class="form-control" id="card-code" placeholder="***">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">
                        <a href="#approve" data-dismiss="modal" data-toggle="modal">Next Step</a>
                    </button>
                    <button type="submit" class="btn btn-default">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="approve" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" role="form">
                <div class="modal-header">
                    <div class="navbar navbar-default navbar-fixed-top">
                        <a class="navbar-brand" href="#">Status</a>
                    </div>
                </div>
                <div class="modal-body">
                    <h4>Card Approved</h4>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default" data-dismiss="modal" onclick="beenPaid()">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="PrintRecipt" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <form class="form-horizontal" role="form">
                <div class="modal-header">
                    <div class="navbar navbar-default navbar-fixed-top">
                        <a class="navbar-brand" href="#">Recipt</a>
                    </div>
                </div>
                <div class="modal-body">
                    <h4>Recipt Printed</h4>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>